body{
    margin: 0;
    padding: 0;
    background-image: url("../img/bg5.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans','helvetica',arial, sans-serif;
    font-weight: 300;
}
.container{
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
.container h1{
    margin: 0 auto;
    margin-bottom: 40px;

    font-size: 50px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    color: #fff;
    font-weight: 300;
}
h2 h3 h4 h5 h6:{
    font-weight: 300;
}
.main-header{
    margin: 0 auto;
    margin-top: 99px;
    padding: 1px;

    background-image: url(../img/banner.jpg);
    text-align: center;
}
.main-header__avatar{
    display: block;
    margin: 0 auto;
    margin-top: -70px;
    margin-bottom: 30px;
    border: 3px solid #fff;

    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
    border-radius: 999px;
}
.main-nav{
    padding: 0;
    margin: 0;
    list-style: none;

    text-align: center;
    background-color: #333;
}
.main-nav ul{
    padding: 0;
    margin: 0;
}
.main-nav ul li{
    display: inline-block;
    margin: 15px 10px;
}
.main-nav ul li a{
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}
.main-nav ul li a:hover{
    text-decoration: underline;
}

.info-section{
    margin: 0 auto;
    padding: 30px 60px;

    background-color: #fff;
    text-align: center;
}
.info-section:after{
    content:"\0020";
    display: block;
    height: 0;
    visibility: hidden;
}
.info-section h2{
    margin: 0px auto;
    margin-top: 50px;

    text-transform: uppercase;
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 3px;
}
.info-section header h2:after{
    content: "";
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100px;
    height: 10px;
    border-bottom: 3px solid black;
}
.info-section__description {
    font-style: italic;
}
.whatido__skill-list{
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.whatido ul li{
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;
    width: 33.3%;
    font-size: 13px;
    float: left;
}
.whatido ul li h3{
    margin: 0 auto;
    padding: 0;
    padding-top: 100px;
    width: 100px;

    text-transform: uppercase;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}
.whatido__skill--code h3{
    background-image: url(../img/skill-code.png);
}
.whatido__skill--design h3{
    background-image: url(../img/skill-design.png);
}
.whatido__skill--product h3{
    background-image: url(../img/skill-product.png);
}

.education-experience__list{
    padding: 0;
    padding-top: 20;
    list-style: none;
    text-align: left;
}
.education-experience__list li{
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    text-align: left;
}
.education-experience__list img{
    margin: 0 40px;
    margin-top: 40px;
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 5px;
}

.photos{
    overflow: hidden;
}
.photos__list{
    list-style: none;
}
.photos__list li{
    float: left;
    width: 25%;
}
.photos__list li img{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

.get-in-touch__list{
    margin-top: 60px;
    list-style: none;
    overflow: hidden;
}
.get-in-touch__list li{
    box-sizing: border-box;
    float: left;
    width: 25%;
}

.contact form{
    margin: 0 auto;
    margin-top: 60px;
    padding: 1px;
    width: 40%;
    text-align: right;
    position: relative;
}
.contact textarea,input{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px;
    margin-bottom: 20px;
    width: 100%;

    border-radius: 4px;
    border: 1px solid #ccc;
}
.contact form button{
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 9999px;

    background: #ffd524;

    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    color: #fff;
    box-shadow: 0 3px 0 #daae1d;
}
.contact form label{
    position: absolute;
    left: -105%;
    width: 100%;
}

@media (max-width: 480px){
    .container{
        width: 100%;
        overflow: hidden;
    }
    .container h1{
        font-size: 32px;
    }
    .main-nav{
        overflow: hidden;
    }
    .main-nav ul li{
        display: block;
    }
    .info-section{
        padding: 15px 45px;
    }
    .whatido ul li{
        width: 100%;

        float: none;
        display: block;
    }
    .education-experience header h2 span{
        display: block;
    }
    .education-experience__list li img{
        display: block;
        float: none;
        margin: 0 auto;
        width: 180px;
        height: 180px;
    }
    .photos__list{
        margin: 0;
        padding: 0;
    }
    .photos__list li{
        float: none;
        width: 100%;
        margin: 0;
        padding: 0
    }
    .get-in-touch__list{
        margin: 0;
        margin-top: 40px;
        padding: 0;
        width: 100%;
    }
    .get-in-touch__list li{
        margin: 0;
        padding: 0;
        display: block;
        width: 50%;
    }
    .get-in-touch__list li img{
        width: 80%;
    }
    .contact form{
        text-align: left;
        width: 100%;
    }
    .contact form label{
        position: static;
    }
}
